# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Main Data\Libraries\Documents\_University\ASU\_Classes\Fall 2020\Data Structures & Algorithms\Project 1\Source Code\Project1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
